# Compiled object files
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib

# Executable files
*.exe
*.out
*.app

# Debug files
*.dSYM/
*.stackdump

# IDE specific files
.vscode/
*.code-workspace
.idea/
*.iml

# CMake build directories
build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Logs and temporary files
*.log
*.tmp
*.temp

# Experiment attachment files
*.zip
*.rar
*.png
*.docx